<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <input class="form-control" type="search" ng-model="q" placeholder="Filter films..." aria-label="filter films" />
  </div>
</div>
<div class="player " style=" overflow:hidden">
  <video id="video1" width="100%" style="left:0%; top:-25%; position:relative" poster="../images/{{placeholder}}">
    <source ng-model="streams" ng-repeat="stream in streams" ng-src="{{stream.url}}" ng-type="video/{{stream.type}}">
  </video>
  <div class=" row controls block" id="controls">
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
    <img src="../images/play-icon.png" id="playpause" class="paused" >
    </div>
      <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
        <div class="progress">
          <div id="progressPlaceholder"></div>
        </div>
      </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
      <span id="time">
        <span id="currenttime">00:00</span> /
        <span id="duration">00:00</span>
      </span>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
      <span id="volume">
          <img src="../images/volume-full-icon.png" id="dynamic" >
      </span>
    </div>
  </div>
  <h3> {{title}} ({{meta.releaseYear}})</h3>
  <ul>
    <lh>Directors:</lh>
    <li ng-repeat="director in meta.directors" >{{director.name}}, </li>
  </ul>
  <ul>
    <lh>Actors:</lh>
    <li ng-repeat="actor in meta.actors" >{{actor.name}}, </li>
  </ul>
</div>
<div class=" row example-animate-container">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 animate-repeat" ng-repeat=" film in data | filter:q as results">
    <a ng-click="SelectFilms(film)" href="">
      <img class="image-placeholder" ng-src="../images/{{film.images.cover}}">
    </a>
    <h5> {{film.title}}</h5>
    <h6>{{film.meta.releaseYear}}</h6>
  </div>
  <div class="animate-repeat" ng-if="data.length === 0">
    <strong>No results found...</strong>
  </div>
</div>
<script src="../scripts/player/player.js"></script>
